#A Local Database Of LocalDB Basic On Properties
#Tue Mar 17 22:24:45 CST 2026
BanChannel=[9]
ChosenFilePath=D\:\\
ConfigConfigFileName=config.config
ConfigFilePath=D\:\\Work\\produce\\work\\Musicreator\\musicreator
JavaFilePath=D\:\\Work\\produce\\work\\Musicreator\\musicreator\\jre-21.0.8
LibFilePath=D\:\\Work\\produce\\work\\Musicreator\\musicreator\\lib
MusicreatorFilePath=D\:\\Work\\produce\\work\\Musicreator\\musicreator
